* {
    /* border: 1px solid red; */
}

.container-fluid {
    background-color: violet;
    height: 100vh;
}

.nav {
    height: 70px;
}

.btn-primary {
    color: #fff !important;
    border: 1px solid #fd4c82 !important;
    background-color: #fd4c82 !important;
    padding: 10px 25px !important;
    transition: all 0.4s ease;
}

.btn-primary:hover {
    color: black !important;
}

.navbar-nav .nav-item {
    margin: 6px;

}

#logo {
    font-weight: 700;
    font-size: 25px;
    margin-top: 1rem;
}

.mini {
    font-size: 15px;
    /* margin-left: 1rem;    */
    margin-top: -9px;
    color: #fd4c82;
}

.navbar-nav .nav-item a {
    color: black;
    font-weight: 600;

}

.nav-item .active {
    color: #fd4c82 !important;
}

.nav-item .active:hover {
    color: black !important;
}

.bg-1 {
    background: url(../img/bg_1.jpg);
    background-size: cover;
}

#social i {
    margin-left: 10px;
    font-size: 22px;
    color: black;
}

#social i:hover {
    color: #fd4c82;
}

#cell p {
    font-size: 13px;
}

.pt-6 {
    padding-top: 5rem;
}

.main-heading h1 {
    font-size: 60px;
    color: #000000;
    line-height: 1;
    font-weight: 700;
}

.main-heading p {
    color: #999999;
    font-size: 18px;
    font-weight: 400;

}

.btn-secondary {
    background: #fd4c82 !important;
    padding: 12px 21px !important;
    border: 1px solid #fd4c82 !important;
    color: #fff !important;
}

.btn-info {
    background: #91c235 !important;
    border: 1px solid #91c235 !important;
    color: #fff !important;
    padding: 12px 19px !important;
}

.main-box {
    position: relative;
    bottom: 3rem;
    width: 20%;
    height: 200px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;

    gap: 2rem;
}


.box {
    width: 34%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    background-color: #fff;
    box-shadow: 1px 4px 7px gray;
    transition: all 0.4s ease;

}

.circle {
    width: 80px;
    height: 80px;
    line-height: 1.3;
    border-radius: 50%;
    background: #f0f0f0
}

.box-content h4 {
    font-weight: 700 !important;
}

.box-content p {
    color: #3b3a3a;
}

.box:hover {
    background-color: #fd4c82;
    color: #fff !important;
}

/* Welcome Section */

.welcom-sec {
    position: relative;
    height: 80vh;
    background: #f8f9fa;
}

.bg-2 {
    /* border: 1px solid black; */
    height: 30rem;
    width: 70%;
    background: url(../img/about.jpg);
    background-size: cover;
}

.well {
    margin-top: 3rem;
    font-weight: 700;
    color: #fd4c82;
    margin-bottom: 2rem;
}

.agency {
    /* position: absolute; */
    font-weight: 700;
    width: 80%;
    margin-bottom: 2rem;
}

.wel-para {
    color: #999999;
}
ul{
    list-style-type: none;
}
.pet-icon{
    list-style: none;
    width: 45px;
    height: 45px;
    margin-top: 10px;
    background-color: #fd4c82;
}
.pet-icon img{
    position: relative;
    left: 0.7rem;
    top: 0.4rem;
}
.pet-head{
    position: relative;
    left: 3.4rem;
    bottom: 1.8rem;
    
}
.pet-head h4{
    font-size: 16px;
}